{{#if newBeard}}

  {{partial 'beards/submit-beard'}}

{{else}}

  <div class="col-md-3">
  <button class="btn btn-info" {{action 'newBeard'}}>Submit Your Beard</button>
  <br>
  <br>
    <ul class="list-unstyled">
      {{#each beard in model}}
        <li>
          {{#link-to 'beard' beard.id}}<span class="lead fancyfont">{{beard.name}}</span>{{/link-to}}
          <p><span class="muted">Born {{beard-birth beard.date}}</span></p>
        </li>
      {{/each}}
    </ul>
  </div>

    <div class="col-md-9 well">
      <h1 class="text-center title fancyfont">Hot Local Organic Beards</h1>
      {{#each beard in model}}
        <div class="col-md-3">
            {{#link-to 'beard' beard.id}}
              <div class="thumbnail" style="background-image: url({{beard.picture}})">
                <div class="item">
                  <div class="lead text-center fancyfont vertical-align">
                    <p >
                      {{beard.name}}
                      <br>
                      {{repeat-stars beard.avgRating}}
                    </p>
                  </div>
                </div>
              </div>
            {{/link-to}}
        </div>
      {{/each}}
    </div>
{{/if}}

{{outlet}}
