<div class="row">
  <div class="col-md-12">
    <h1 class="text-center fancyfont" id="title">{{model.name}}</h1>
  </div>
  <div class="col-md-5">
    <div class="img-rounded img-responsive profile-picture" style="background-image: url({{model.picture}})">
    </div>
  </div>
  <div class="col-md-7 well">
    <p class="lead">
      Rating: {{model.avgRating}}
    </p>
    <p class="lead">
      Type: {{model.type}}
    </p>
    <p class="lead">
      Began Growth: {{model.date}}
    </p>
  </div>
  <div class="col-md-7 well">
    <table class="table">
      <caption><p class="lead">Stats</p></caption>
      <thead>
        <tr>
          <th>Length</th>
          <th>Width</th>
          <th>Girth</th>
          <th>Density</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{model.length}}</td>
          <td>{{model.width}}</td>
          <td>{{model.girth}}</td>
          <td>{{model.density}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{{#if newReview}}
  <div class="col-md-6 col-md-offset-5 nopad">

    {{partial 'beard/review'}}
    <br>
  </div>

{{else}}
  <br>
  <div class="row">
    <br>
    <div class="col-md-12">
      <button class="btn btn-info btn-block" {{action 'addReview'}}>Review the <strong>{{model.name}}</strong> Beard</button>

    </div>

  </div>
{{/if}}


<br>

<div class="col-md-12">
  <div class="row ">
    <ul class="list-unstyled">
      {{#each review in model.reviews}}
        <li class="well">
          <blockquote>
            <p>
              {{review.body}}

              {{review.rating}}

              {{repeat-stars review.rating}}

              <button class="btn btn-danger btn-xs pull-right"{{action 'deleteReview' review}}>X</button>
            </p>
            <footer><cite>{{review.author}}</cite></footer>
          </blockquote>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<br>
  <button class="btn btn-danger btn-block"{{action 'delete'}}>Delete</button>
<br>
<br>
