{{#if newPost}}

<div class="col-md-6 col-md-offset-3">
  <form>
    <div class="form-group">
      <label for="subject">Subject</label>
      {{input value=subject class="form-control"}}
    </div>
    <div class="form-group">
      <label for="body">Body</label>
      {{textarea value=body class="form-control" rows="4"}}
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author class="form-control"}}
    </div>

    <button class="btn btn-primary" {{action 'submit'}}>Submit</button>
  </form>
</div>

{{else}}

  <div class="col-md-4">
  <button class="btn btn-info" {{action 'newPost'}}>New Post</button>
  <br>
  <br>
    <ul class="list-unstyled">
      {{#each post in model}}
        <li><span class="muted">{{post-date post.date}}</span>{{#link-to 'post' post.id}}<p class="lead">{{post.subject}}</p>{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>



  <div class="col-md-8">
    {{outlet}}
  </div>

{{/if}}
