<div class="">
  <span class="muted">{{post-date post.date}} {{model.author}} wrote:</span>
  <p class="lead">
    {{model.subject}}
  </p>
  <p>
    {{model.body}}
  </p>

  <button class="btn btn-danger" {{action 'deletePost'}}>Delete</button>
</div>
